<div class="full-width">

   <div class="parallax" id="Parallax380" style="background-image: url({{asset "images/content/parallax2.jpg"}}); background-attachment: fixed; background-position: 60% 70px;">
      <!--<div class="parallax-overlay"></div>-->
      <div class="container">
         <div class="padding-big row">
            <div class="text-center col-md-12 animated" data-fx="bounceIn">

               <p class="h3 quote">
                  <i class="fa fa-quote-left quote-mark-left"></i>
                  Making the simple complicated is commonplace; making the complicated simple, awesomely simple, that’s creativity.
                  <i class="fa fa-quote-right quote-mark-right"></i>
               </p>
               <p class="citation"><i>- Charles Mingus -</i></p>
            </div>
         </div>
      </div>

   </div>

</div>

<div class="container">
   <div id="resume" class=" chapter padding-medium row">
      <div class="text-center col-md-12">

         <h2>
            My
            <span class="color-font light">resumè</span>
         </h2>

      </div>

         <div class="timeline-content">
            <div class="element-line">
               <ol id="timeline">

                  <li class="timeline-item animated" data-fx="fadeInLeft">
                     <div class="item_right" >
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">from June 2013<small></small></h5>
                              <div class="box-inner">
                                 <img alt="avanade" src="{{asset "images/resume/avanade.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Solution Architect <br/>@ <a href="http://www.avanade.com/" target="_blank">Avanade</a>
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>Currently I'm working as Solution Architect and Technical Leader for a customer projects regarding travels & booking; my duties are to organize team work, interfacing with the customer, writing technical documentation, doing code review, actively identifying bottlenecks, propose resolutions & guidelines, putting all my experience into the field.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInRight">
                     <div class="item_left">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Dec 2012 - June 2013<small></small></h5>
                              <div class="box-inner">
                                 <img alt="kqi" src="{{asset "images/resume/kqi.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Senior Developer and Frontend Designer <br/>@ <a href="http://www.kqi.it/" target="_blank">KpnQwest Italia</a>
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>As consultant I'm working in an italian internet company as .NET senior developer, and I'm also in charge of several frontend tasks to redesign their web application using <a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a>, HTML5, CSS3, and <a href="http://angularjs.org" target="_blank">AngularJS</a>.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInLeft">
                     <div class="item_right">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Oct - Nov 2012<small></small></h5>
                              <div class="box-inner">
                                 <img alt="monitae" src="{{asset "images/resume/monitae.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Frontend Web Developer <br/>@ <a href="http://www.monitae.com/" target="_blank">Monitae</a>
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>Refactored the frontend of web application, introducing a clean design inspired by my project BootMetro giving the app a Windows 8 look & feel, and dynamic data bind using <a href="http://angularjs.org" target="_blank">AngularJS</a>; the server-side backend has been rebuilt with Microsoft ASP.NET MVC 4.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInRight">
                     <div class="item_left">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Jan 2011 - Sep 2012<small></small></h5>
                              <div class="box-inner">
                                 <img alt="ags" src="{{asset "images/resume/ags.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Developer Analyst <br/>@ AGS Group
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>As main job I was tasked to architect the new web framework based on newest client & server technologies to build several web products for this company. I was both .NET developer, database developer, HTML, CSS and Javascript developer.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInLeft">
                     <div class="item_right">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Jan 2009 - Dec 2010<small></small></h5>
                              <div class="box-inner">
                                 <img alt="pirelli" src="{{asset "images/resume/pirelli.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Senior Developer <br/> <a href="http://www.pirelli.com/tyre/it/it/homepage.html" target="_blank">Pirelli</a>
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>Consultant as Senior Developer in Pirelli Sistemi Informativi, on the Pirelli Tyre B2B platform.
                                    Was tasked to assist the existing Tyres B2B team to improve the performance of several mission critical applications, optimizing tons of code, implementing a modern architectures and patterns. Realized WCF Services, reviewed the SAP Integration introducing an advanced tracing system; joined a team for the migration of old 32-bit Windows server apps to 64-bit.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInRight">
                     <div class="item_left">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Jun 2007 - Dec 2008<small></small></h5>
                              <div class="box-inner">
                                 <img alt="objectweb" src="{{asset "images/resume/ow.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Software architect & technical leader <br/>@ ObjectWeb Srl
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>As co-founder I actively participated in the development of the company software framework, built on several reusable components to allow the company to approach various markets.
                                    The company base framework was built using Microsoft C# with ASP.NET, PostgreSQL, SQL Server, NHibernate, jQuery; the main product was a modular CMS.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInLeft">
                     <div class="item_right">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Dec 2006 - Jun 2007<small></small></h5>
                              <div class="box-inner">
                                 <img alt="aive" src="{{asset "images/resume/aive.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Senior Developer Consultant <br/>@ <a href="http://www.aive.com/" target="_blank">AIVE Spa</a>
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>As consultant I worked at a customer, an important insurance italian company, where I was part of a team in order to adapt an existing web application to the new insurance regulations</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInRight">
                     <div class="item_left">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Dec 2002 - Dec 2006<small></small></h5>
                              <div class="box-inner">
                                 <img alt="filodiretto" src="{{asset "images/resume/filodiretto.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Developer Analyst <br/>@ 	<a href="http://www.filodiretto.it" target="_blank">Filo diretto Assicurazioni Spa</a>
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>I was part of the internal development team with the tasks to build applications for the Finance division in order to simplify internal procedures, reduce papers, & increase productivity, integrating the accounting and reporting systems with data from other core services.
                                    I was both the application architect, .NET developer, database developer, HTML, CSS and Javascript developer, a complete end-to end development cycle for different web & windows applications.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

                  <li class="timeline-item animated" data-fx="fadeInLeft">
                     <div class="item_right">
                        <div class="well post">
                           <div class="post-info text-center">
                              <h5 class="info-date">Dec 1999 - Nov 2002<small></small></h5>
                              <div class="box-inner">
                                 <img alt="csp" src="{{asset "images/resume/csp.png"}}" class="avatar" height="113" width="113">
                              </div>
                           </div>
                           <div class="post-body clearfix">
                              <div class="blog-title">
                                 <h1>
                                    Developer Analyst <br/>@ <a href="http://www.cspnet.it/" target="_blank">CSP Spa</a>
                                 </h1>
                              </div>
                              <div class="post-text">
                                 <p>As consultant, I worked 2 years at Vittoria Assicurazioni Spa in different teams in charge first of the data migration from Mainframe/DB2 to SQL Server, than the creation of a new extranet.
                                    I was tasked also to assist a senior consultant for the analysis for the new company data warehouse.
                                    In 2002, at CSP spa HQ in Milan, for 6 months I teached two classes about Windows 2000, VB6, SQLServer, HTML.</p>
                              </div>
                           </div>
                           <div class="post-arrow"></div>
                        </div>
                     </div>
                  </li>

               </ol>
            </div>
         </div>

   </div>
</div>