<!DOCTYPE html>
<html>
<head>
   {{! Document Settings }}
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   {{! Favicon }}
   <link rel="shortcut icon" href="/assets/favicon.ico">

   {{! Page Meta }}
   <title>This is the web presence of MarcelloP</title>
   <meta name="description" content="The web presence of Marcello Palmitessa"/>
   <meta name="author" content="Marcello Palmitessa">
   <meta name="keywords" content="web, design, marcello palmitessa, usability, nodejs, aspnet mvc, mvc, arashi, bootmetro, bootplus, portfolio">

   <meta name="HandheldFriendly" content="True"/>
   <meta name="MobileOptimized" content="320"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

   {{! Stylesheet }}
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700|Roboto:400,300' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" type="text/css" href="{{asset "css/animate.css"}}"/>
   <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}"/>
   <link rel="stylesheet" type="text/css" href="{{asset "css/blue.css"}}"/>

   <link rel="canonical" href="http://www.marcellop.com/" />

   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3182578-7', 'marcellop.com');
      ga('send', 'pageview');
   </script>

</head>
<body id="top" class="initAnimate">
   <!--[if lt IE 9]>
   <div class="alert alert-warning">
      <div class="text-center">
         <p class="lead">
            <i class="fa fa-warning"></i>
            You are using an outdated browser.&nbsp;<a href="http://browsehappy.com/">Upgrade your browser today</a>&nbsp;to better experience this site.ù
         </p>
      </div>
   </div>
   <![endif]-->

   <main role="main" id="main">
      <section class="error-content error-404 js-error-container">
         <section class="error-details">
            <section class="error-message">
               <h1 class="error-code">{{ error.status }}</h1>
               <h2 class="error-description">{{ message }}</h2>
            </section>
         </section>
      </section>
      {{#if error.stack}}
         <section class="error-stack">
            <h3>Stack Trace</h3>
            <p><strong>{{ message }}</strong></p>
            <em>{{ error.stack }}</em>
         </section>
      {{/if}}
   </main>


   {{! Page footer goes here }}
   {{> footer}}

</body>
</html>