<section id="experience" class="experience-area">
  <h2>Work Experience</h2>

  <div class="experience-area__items">
    {{#each content.experience.from2012}}
      <div class="experience-area__item">
        <div class="experience-area__item-company">
          <div class="experience-line" aria-hidden="true"></div>
          <h3>{{role}}</h3>
          <p>{{from}}-{{to}}</p>
        </div>
        <div class="experience-area__item-description">
          <div class="experience-dot"></div>
          <h4>@{{company}}</h4>
          {{#each description}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>

  <button aria-expanded="false">
    See my positions before year 2012
    <span aria-hidden="true">&#x25be;</span>
  </button>

</section>
