<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  {{! Document Settings }}
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  {{! Page Meta }}
   <title>{{meta_title}}</title>
   <meta name="description" content="{{meta_description}}"/>

   <meta name="viewport" content="width=device-width, initial-scale=1"/>

   <link rel="shortcut icon" href="{{asset "favicons/favicon.ico"}}">
   <link rel="apple-touch-icon" href="{{asset "favicons/touch-icon-iphone.png"}}">
   <link rel="apple-touch-icon" sizes="76x76" href="{{asset "favicons/touch-icon-ipad.png"}}">
   <link rel="apple-touch-icon" sizes="120x120" href="{{asset "favicons/touch-icon-iphone-retina.png"}}">
   <link rel="apple-touch-icon" sizes="152x152" href="{{asset "favicons/touch-icon-ipad-retina.png"}}">

  {{! Styles'n'Scripts }}
   <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css"/>
   <link rel="stylesheet" href="{{asset "css/bootstrap.css"}}" type="text/css"/>
   <link rel="stylesheet" href="{{asset "css/style.css"}}" type="text/css"/>
   <link rel="stylesheet" href="{{asset "css/dark.css"}}" type="text/css"/>
   <link rel="stylesheet" href="{{asset "css/font-icons.css"}}" type="text/css"/>
   <link rel="stylesheet" href="{{asset "css/animate.css"}}" type="text/css"/>
   <link rel="stylesheet" href="{{asset "css/magnific-popup.css"}}" type="text/css"/>
   <link rel="stylesheet" href="{{asset "css/responsive.css"}}" type="text/css"/>


   <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
   <link rel="stylesheet" type="text/css" href="{{asset "rs-plugin/css/settings.css"}}" media="screen" />
   <link rel="stylesheet" type="text/css" href="{{asset "rs-plugin/css/layers.css"}}"/>
   <link rel="stylesheet" type="text/css" href="{{asset "rs-plugin/css/navigation.css"}}"/>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}

   <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
   <![endif]-->
</head>
<body class="{{body_class}} stretched no-transition">


<div id="wrapper" class="clearfix">

  {{navigation}}

  {{! Everything else gets inserted here }}
  {{{body}}}


   <!-- Footer
   ============================================= -->
   <footer id="footer" class="dark">

      <div class="container">

         <!-- Footer Widgets
         ============================================= -->
         <div class="footer-widgets-wrap clearfix">


         </div>
      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

         <div class="container clearfix">

            <div class="col_half">
               Copyrights &copy; {{date format="YYYY"}} Marcello Palmitessa<br>
               <div class="copyright-links">
                  Proudly published with <a href="https://ghost.org">Ghost</a>
               </div>
            </div>

            <div class="col_half col_last tright">
               <div class="fright clearfix">
                  <a href="http://www.twitter.com/marcellopalmit" class="social-icon si-small si-borderless si-twitter">
                     <i class="icon-twitter"></i>
                     <i class="icon-twitter"></i>
                  </a>

                  <a href="https://www.google.com/+MarcelloPalmitessa" class="social-icon si-small si-borderless si-gplus">
                     <i class="icon-gplus"></i>
                     <i class="icon-gplus"></i>
                  </a>

                  <a href="https://github.com/aozora" class="social-icon si-small si-borderless si-github">
                     <i class="icon-github"></i>
                     <i class="icon-github"></i>
                  </a>

                  <a href="http://it.linkedin.com/in/marcellopalmitessa" class="social-icon si-small si-borderless si-linkedin">
                     <i class="icon-linkedin"></i>
                     <i class="icon-linkedin"></i>
                  </a>
               </div>

               <div class="clear"></div>

               <i class="icon-envelope2"></i> info@marcellop.com <span class="middot">&middot;</span>
            </div>

         </div>

      </div><!-- #copyrights end -->

   </footer>

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

<script type="text/javascript" src="{{asset "js/jquery.easing.1.3.js"}}"></script>

<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<script type="text/javascript" src="{{asset "rs-plugin/js/jquery.themepunch.tools.min.js"}}"></script>
<script type="text/javascript" src="{{asset "rs-plugin/js/jquery.themepunch.revolution.min.js"}}"></script>

<script type="text/javascript" src="{{asset "js/jquery.stellar.js"}}"></script>
<script type="text/javascript" src="{{asset "js/main.js"}}"></script>

</body>
</html>
